<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'script','monospace','pecifico';
            background-color: rgb(165, 246, 219);
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
     <p>URL Genreated: https://localhost:8001/url/<%= id %></p>
    <% } %>

        <div>
            <form action="/url" method="post">
                <label>Enter your Original URL</label>
                <input style="background-color: rgb(253, 250, 255);" type="text" name="url" placeholder="https://example.com"/>
                <button type="submit" style="background-color: rgb(43, 226, 104); color:white">Generate</button>
            </form>
        </div>
        <% if (locals.urls) { %>
         <table>
            <thead>
                <th>S.No</th>
                <th>ShortId</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% urls.forEach((url ,index)=> { %>
                <tr>
                 <td><%= index+1 %></td>
                 <td><%= url.shortId%></td>
                 <td><%= url.redirectURL %></td>
                 <td><%= url.visitHistory.length%></td>
                 </tr>
                <% }) %>
            </tbody>
         </table>
        <% } %>
        <% if (shortUrl) { %>
  <div style="margin-top: 20px;">
    <h2>Your Short URL:</h2>
    <a href="<%= shortUrl %>" target="_blank"><%= shortUrl %></a>
    <h3>QR Code:</h3>
    <img src="<%= qrImage %>" alt="QR Code for Short URL" />
  </div>
<% } %>

</body>
</html>